.dashboard__header {
	background-color: #fdf2f2;
}
.main-header {
	display: flex;
	justify-content: space-between;
	/* background-color: #ffffff6f; */
	padding: 0.6rem 1.6rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
/* ========================== */
.sticky,
.section--stay {
    background-color: rgba(255, 255, 255);
    left: 0;
    right: 0;
	z-index: 1100;
	backface-visibility: hidden;
	transition: all .15s;
}
.sticky {
    position: fixed;
	border-bottom: 1.2px solid #eee;
    top: 0;
}
.section--stay {
    position: sticky;
	top: 7.2rem;
	z-index: 1000;
}
.section--stay .dashboard__tabs {
	border-color: #eee;
}
.sticky .dashboard__logo {
	filter: none;
}
.sticky .dashboard__user-profile {
	color: #555;
}
.sticky .dashboard__icon-box .dashboard__icon {
	color: #bb0505;
}
.sticky .profile__img {
	border: 1.4px solid #bb0505;
}
.sticky .dashboard--mode {
	color: #bb0505;
	border-color: #eee;
}
/*  */
.category--page .sidebar--stay {
	position: fixed;
	top: 14.6rem;
	border-right: 1.4px solid #eee;
	padding-right: 11rem;
}
/* ========================== */
.dashboard__logo {
	height: 6rem;
	filter: brightness(0) invert(1);
}
.dashboard__details {
	display: flex;
	align-items: center;
	gap: 1.8rem;
}
.dashboard__others {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}
.dashboard__user-profile {
	display: flex;
	gap: 1.6rem;
	align-items: center;
	color: #fff;
	position: relative;
	cursor: pointer;
	padding: .4rem 0;
}
.profile__img {
	height: 4.4rem;
	width: 4.4rem;
	border-radius: 50%;
	background-color: #ffffff6f;
	border: 1.4px solid transparent;
}
.profile__user {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}
.user-username {
	font-weight: 600;
	font-size: 1.4rem;
}
.user-email {
	font-size: 1.2rem;
}
.dashboard__icon-box .dashboard__icon {
	color: #fff;
	font-size: 2.4rem;
}
.dashboard--mode {
	color: #fff;
	padding: .6rem;
	border-radius: .6rem;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -.2rem;
	font-size: 1.8rem;
	cursor: pointer;
}
/*  */
.dropdown--figure {
	padding: 1rem .4rem;
	border-radius: .6rem;
	background-color: #fff;
	color: #bb0505;
	transition: all .35s;
	box-shadow: .4rem 1rem 4rem rgba(0, 0, 0, 0.1);

	position: absolute;
	top: 5rem;
	left: 10%;
	width: 18rem;
	z-index: 1800;
}
.dropdown--figure ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: .4rem;
}
.dropdown--figure ul li {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.8rem;
	color: inherit;
	font-weight: 500;
	cursor: pointer;
	padding: .8rem 1.8rem;
	border-radius: .6rem;
}
.dropdown--figure ul li:hover {
	background-color: #f8f8f8;
}
.dropdown--figure ul li p {
	font-size: 1.2rem;
	color: #454545;
}

/* ///////////////////////////////////////////////////// */
.hero__section {
	padding: 13rem 0 5.4rem;
	background-image: linear-gradient(to top, #bb050552, #bb050552),
		url("../../Assets/images/4cda0f90-59d8-11ec-9fdf-a6153228cb9b.jpeg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.header__box {
	color: #fff;
}
.header__box h1 {
	font-size: 3.4rem;
	font-weight: 500;
	margin-bottom: 0.8rem;
	letter-spacing: 0.45px;
}
.header__box p {
	font-size: 1.7rem;
	line-height: 1.6;
	letter-spacing: 0.25px;
}
.input-box {
	max-width: 48rem;
	position: relative;
	margin-top: 1.4rem;
	height: auto;
}
.input-box .header__input {
	margin-top: 1.4rem;
	width: 100%;
	padding: 1.2rem;
	border: 1.6px solid #eee;
	border-radius: 0.6rem;
}
.input-box .header__input::placeholder {
	font-size: 1.4rem;
	color: #aaa;
	font-family: inherit;
}
.input-box .header__input:focus {
	outline: 1.6px solid #bb0505;
	border-color: transparent;
}
.header__icon {
	position: absolute;
	margin-top: 0.6rem;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	font-size: 2rem;
	color: #888;
}

/* //////////////////////////////////////////////// */
.dashboard__tabs {
	display: flex;
	gap: 3.6rem;
	align-items: center;
	padding: 1.6rem 0;
	border-bottom: 1.2px solid #ddd;
}
.dashboard__tabs a:link,
.dashboard__tabs:visited {
	text-decoration: none;
}
.dashboard__tabs .tab {
	display: flex;
	align-content: center;
	gap: 0.6rem;
	color: #777;
	font-size: 1.5rem;
	transition: all 0.35s;
}
.dashboard__tabs .tab:hover {
	color: #bb0505;
}
.dashboard__tabs .tab.active-tab {
	color: #bb0505;
	position: relative;
	transition: all 0.35s;
}
.dashboard__tabs .tab.active-tab::after {
	content: "";
	display: inline-block;
	height: 0.34rem;
	width: 100%;
	background-color: #bb0505;
	position: absolute;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
	/* opacity: 0; */
	animation: fade-in 1s ease-in;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
}
.dashboard__tabs .tab-icon {
	font-size: 1.8rem;
}
.tab p {
	margin-top: 0.28rem;
	font-weight: 500;
}

/* ======================================= */
/* DASHBOARD */
/* ======================================= */
.giftPackage__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2.4rem;
}
.giftPackage--figure {
	display: grid;
	grid-template-columns: 6rem 1fr;
	gap: 1.4rem;
	padding: 1.2rem;
	border-radius: .8rem;
	border: 1.2px solid #bb0505;
	position: relative;
	overflow: hidden;
}

.giftPackage--figure img {
	height: 4.8rem;
}
.giftPackage--details {
	display: flex;
	flex-direction: column;
}
.package--celebrant {
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 1.2rem;
}
.package--description {
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-bottom: .8rem;
}
.package--info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
}
.package--category {
	position: absolute;
	bottom: 0%;
	left: 8%;
	transform: translate(-50%, -50%) rotate(45deg);
	padding: .6rem;
	background-color: #bb0505;
	color: #fff;
	font-weight: 600;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.package--date {
	margin-left: auto;
}




/* ======================================= */
/* ======================================= */

.gift__categories {
	margin-top: 2.8rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2rem;
	backface-visibility: hidden;
}
.category--figure {
	width: 100%;
	height: 18rem;
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: all 0.35s;
}
.category--image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.category--title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.35);
	color: #fff;
	font-size: 3.2rem;
	font-weight: 600;
	text-transform: capitalize;

	display: flex;
	justify-content: center;
	align-items: center;
}
.category--figure:hover {
	transform: translateY(-0.4rem) scale(1.05);
}

/* ====================================== */
.category--page {
	display: grid;
	grid-template-columns: 20rem 1fr;
	gap: 4.8rem;
}
.page--sidebar {
	padding: 2.4rem 0;
	border-right: 1.4px solid #eee;
	align-self: self-start;
	position: relative;
}
.page--sidebar ul {
	padding: 1.2rem 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.page--sidebar ul .sidebar-items {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 1.45rem;
	cursor: pointer;
	transition: all 0.35s;
	display: flex;
	align-items: center;
	gap: 0.46rem;
}
.sidebar-icon {
	margin-top: 0.32rem;
	font-size: 1.6rem;
	transition: all 0.35s;
}
.page--sidebar .sidebar-items:hover,
.sidebar-items.active-sidebar {
	color: #bb0505;
	transform: scale(1.08);
	transition: all 0.35s;
}

/*  */
.page--main {
	padding: 4rem 0;
	margin-right: -3.2rem;
	padding-right: 3rem;
}
.page--grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: start;
	gap: 2.8rem;
}
.product--figure {
	background-color: #f8f8f8;
	border-radius: 1rem;
	overflow: hidden;
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	cursor: pointer;
	transition: all .35s;
}
.product--figure:hover {
	box-shadow: .6rem 1rem 2rem rgba(0, 0, 0, 0.15);
	transform: translateY(-.2rem);
}
.product--figure .product--img {
	width: 100%;
	height: 14rem;
	margin-bottom: 1.2rem;
	/* border-radius: 1rem; */
}
.product--details {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: flex-start;
	padding: 0 1.2rem 1.2rem;
}
.product--heading {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
.product--vendor,
.product--vendor .vendor--main {
	display: flex;
	align-items: center;
	gap: 1.2rem;

	justify-content: center;
	margin-bottom: 0.4rem;
}
.product--vendor img {
	width: 3.4rem;
	height: 3.4rem;
	border-radius: 50%;
	border: 1.6px solid #bb0505;
}
.product--vendor-info {
	font-size: 1.16rem;
	display: flex;
	flex-direction: column;
	gap: .4rem;
	align-items: flex-start;
}
.product--vendor-info p {
	font-weight: 600;
}
/*  */
.product--infos {
	display: flex;
	align-items: center;
	gap: 4.8rem;
	margin-top: 1.2rem;
}
.product--price {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.8rem;
	color: #bb0505;
}

/*  */
.note--box {
	width: 100% !important;
	padding: 1.2rem;
	background-color: #eee;
	height: 12rem;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7rem;
	font-weight: 500;
	border-radius: 1.2rem;
}
.note--box picture img {
	width: 4.8rem;
	height: 4.8rem;
}

div.banner {
	background-color: #eee;
	/* height: 12rem; */
	width: 70%;
	margin: 0 auto;
	border-radius: 1.2rem;
	padding: 1.8rem 0;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}
div.banner img {
	height: 8rem;
}
.gifting--banner.banner img {
	transform: translateX(20%);
}
div.banner button {
	display: inline-block;
	border: none;
	background-color: transparent;

	padding: 0.8rem 1.6rem;
	font-size: 1.6rem;
	font-weight: 500;
	color: #bb0505;
	border-radius: 0.8rem;
	box-shadow: inset 0 0 0 0.12rem #bb0505;
	transition: all 0.35s;
	cursor: pointer;
}
div.banner button:hover {
	transform: translateY(-0.24rem);
}


/* ======================================= */
/* WISHLIAT FORM */
/* ======================================= */
.wishlist--form {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.form--item {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
#form-image-input {
	display: none;
}
#form-image-label {
	border: 1.2px dashed #ddd;
	width: 100%;
	height: 12rem;
	border-radius: 0.8rem;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.35s;
}
#form-image-label span {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;

	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.35s;
}
#form-image-label.hoverable span {
	display: none;
}
#form-image-label.hoverable:hover span {
	display: flex;
	background-color: rgba(0, 0, 0, 0.35);
	color: #fff;
}
#form-image-label span p {
	font-size: 1.4rem;
}
#form-image {
	height: 100%;
	object-fit: cover;
}
#form-name-input:focus, #form-category-input:focus {
	outline: none;
	border: 1.4px solid #bb0505;
}
#form-name-input, #form-category-input {
	padding: 1.2rem;
	border-radius: 0.8rem;
	border: 1.4px solid #ddd;
	background-color: transparent;
}
#form-name-label, #form-category-label,
.image-text {
	font-size: 1.24rem;
	font-weight: 600;
	color: #777;
}
.form--item button {
	border: none;
	display: inline-block;
	padding: 1.2rem 2rem;
	font-size: 1.6rem;
	font-weight: 500;
	background-color: #bb0505;
	color: #fff;
	border-radius: 0.8rem;
	align-self: flex-start;
}

/* ============================================= */
/* PRODUCT MODAL */
/* ============================================= */
.product__modal--overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1500;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
.product__modal {
	max-width: 75rem;
	width: 75rem;
	height: 75rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -32%);
	box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
	background-color: #fff;
	border-radius: 1rem;
	padding: 3.2rem 2.8rem;
	transition: all 0.35s;
    backface-visibility: hidden;
	animation: slide-up 1s ease-in;
	z-index: 1600;
}
@keyframes slide-up {
	0% {
		transform: translate(-50%, 100rem);
		opacity: 0;
	}
	20% {
		transform: translate(-50%, -32%);
		opacity: 1;
	}
}
.product--close-icon {
	position: absolute;
	top: 1%;
	right: 1%;
	transform: translate(-50%, 50%);
	z-index: 100;
}
.close--icon {
	cursor: pointer;
	transition: all .35s;
	font-size: 2.4rem;
}
.close--icon:hover {
	transform: rotate(360deg);
}
.product--container {
	display: grid;
	grid-template-columns: 2fr 4fr;
	gap: 3.6rem;
    margin-top: 1rem;
}
.product--image-box {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.product--image-box .product--img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	border-radius: 0.6rem;
	transition: all 0.35s;
}
.product--image-box .sub-images {
	display: flex;
	align-items: center;
    gap: 1rem;
	justify-content: flex-start;
}
.sub-images img {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 0.4rem;
	border: 1.4px solid #bb0505;
	overflow: hidden;
	object-fit: cover;
	transition: all 0.35s;
}
.sub-images img:hover {
	transform: scale(1.05);
}
.product--container .product--img:hover {
	transform: scale(1.25) rotate(14deg);
}
.product--info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.product--title {
	font-size: 2rem;
	font-weight: 600;
	color: #bb0505;
	margin-bottom: 2rem;
}
.product--text {
	font-size: 1.4rem;
	line-height: 1.6;
	text-align: left;
	margin-bottom: 1.6rem;
}

.product--container .product--vendor {
	display: flex;
	width: 100%;
	align-items: flex-end;
}
.product--vendor .vendor--main img {
	border: 1.4px solid #bb0505;
}
.product--vendor .vendor--main div {
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
}
.product--vendor .vendor--main div p:nth-child(1) {
	font-weight: 500;
}
.product--vendor .vendor--main div p:nth-child(2) {
	font-size: 1rem;
}
#location {
	margin-left: auto;
}
.product--actions {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin-top: 1.2rem;
}
.product--price {
	display: flex;
	gap: 0.62rem;
	align-items: center;
	margin-bottom: 0;
}
.product--date {
	font-size: 1rem;
	color: #888;
}
.product--price span {
	font-weight: 400;
}
.product--price p {
	font-size: 1.4rem;
}
.product--btn {
	display: inline-block;
	border: none;
	padding: 0.8rem 1.2rem;
	background-color: #bb0505;
	border-radius: 0.4rem;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 500;
}
.product--quantity {
	display: flex;
	gap: 1.4rem;
	align-items: center;
	margin-top: 1.6rem;
}
.product--quantity span {
	font-size: 1.2rem;
	width: 2.4rem;
	height: 2.4rem;
	border: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: .2rem;
}
.product--quantity span:hover {
	border-color: #bb0505;
}

/* ============================================= */
/* GIFTING FORM */
/* ============================================= */
/* .form { position: relative; } */
.gifting--form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	transform: translate(0);
	transition: all 0.35s;
    backface-visibility: hidden;
	animation: swipe 1s ease-in;
}
@keyframes swipe {
	from {
		transform: translateX(-100rem);
		opacity: 0;
	}
	15% {
		transform: translate(0);
	}
	30% {
		opacity: 1;
	}
}
.form__item {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}
.form__label {
	font-size: 1.2rem;
	color: #777;
	font-weight: 600;
}
.form__input,
.form__textarea,
.form__select,
.form__date {
	padding: 1.2rem;
	width: 100%;
	border: 1.6px solid #eee;
	border-radius: 0.6rem;
	transition: all 0.35s;
	font-family: inherit;
}
.form__input:focus,
.form__textarea:focus,
.form__select:focus,
.form__date:focus {
	border: 1.6px solid #bb0505;
	outline: none;
}
.form__item .form__textarea {
	resize: none;
}
.form__textarea::placeholder {
	font-family: inherit;
	font-size: 1.4rem;
}
.form__textarea#description {
	height: 12.4rem;
}
.form__textarea#address {
	height: 6rem;
}

.form__flex-main {
	display: grid;
	grid-template-columns: 2fr 4fr;
	gap: 3.6rem;
}
.form__flex-col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
.form__flex-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	gap: 2.8rem;
}
.form__flex-row input {
	width: 100% !important;
}
.form__inline {
	display: flex;
	align-items: flex-start;
	gap: 2.4rem;
	margin-top: 0.6rem;
	justify-content: flex-end;
}
.form__inline .form__item {
	flex-direction: row;
}
.form__inline .form__item-date {
	margin-right: auto;
	flex-direction: column;
}
.form__check, .form__submit, .product--btn {
    transition: all .35s;
    cursor: pointer;
}
.form--heading {
	font-size: 1.8rem;
	color: #bb0505;
	font-weight: 500;
	margin-bottom: 1.2rem;
    margin-left: 2.8rem;
}
.form--icon {
    font-size: 2.4rem;
    color: #bb0505;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 0;
    transform: translate(-50%, -50%);
}
.form__submit {
	display: inline-block;
	border: none;
	border-radius: 0.6rem;
	padding: 1rem 1.2rem;
	background-color: #bb0505;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	align-self: flex-end;
    margin-top: -3.4rem;
}
/* =================== */
span.validity::after {
	padding-left: 5px;
}
.form__date:invalid + span.validity::after {
	content: "✖";
}
.form__date:valid + span.validity::after {
	content: "✓";
}
#form--balance {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: .26rem;
}

/* ========================================= */
/* WISHLISTS CARD AND FIGURES  */
/* ========================================= */
.wishlist--grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3.6rem;
	margin-top: -2.6rem;
	padding-top: 4rem;
	position: relative;
}
.w-figure--btn {
	position: absolute;
	right: 0;
	top: 0;
	padding: .8rem 1.2rem;
	border-radius: .3rem;
	background-color: #bb0505;
	color: #fff;
	font-weight: 600;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
}
.wishlist--figure {
	position: relative;
	overflow: hidden;
	display: grid;
	grid-template-columns: 14rem 1fr;
	gap: 2.8rem;
	background-color: #f8f8f8;
	padding: 1.4rem;
	border-radius: .6rem;
	/* align-self: self-start; */
}
.w-figure-category {
	position: absolute;
	top: 0;
	left: 0;
	padding: .8rem 1.8rem;
	background-color: #ffc6c6;
	font-size: 1.4rem;
	font-weight: 500;
	text-transform: capitalize;
}
.w-figure--image {
	width: 100%;
	border-radius: .6rem;
}
.w-figure--details {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	padding: 0 1.2rem;
}
.w-figure--head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.w-figure--title {
	font-size: 2rem;
	/* text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #bb0505;
	text-underline-offset: .6rem; */
	color: #bb0505;
	margin-bottom: .4rem;
	font-weight: 500;
}
.wish--list {
	display: flex;
	flex-direction: column;
	gap: .6rem;
	list-style: decimal;
}
.no-wish-item {
	font-size: 1.45rem;
	margin-top: 1rem;
	background-color: #ddd;
	padding: .8rem;
	border-radius: .4rem;
	align-self: flex-start;
}
.wish--item {
	font-size: 1.4rem;
	padding: .4rem 0;
	padding-left: .4rem;
}
.wish--item:not(:last-child) {
	border-bottom: 1.2px solid #ddd;
	padding-bottom: 1rem;
}
.w-figure--info {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
}
.w-figure--view-more {
	cursor: pointer;
	color: #bb0505;
}
.wish--date {
	margin-left: auto;
	color: #888;
}

/* ============= WISHLIST LISTS ============== */

.wish--lists {
	margin: 0 auto;
	margin-top: 1.4rem;
	max-width: 80rem;
	display: flex;
	flex-direction: column;
}
.lists--title {
	padding-bottom: 2rem;
	border-bottom: 1.4px solid #ddd;
	font-size: 2rem;
	font-weight: 500;
}
.lists--tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem 0;
	border-bottom: 1.4px solid #ddd;
	margin-bottom: 1.2rem;
}
.main--tabs, .sub--tabs {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}
.lists--tab {
	display: flex;
	align-items: center;
	gap: .5rem;
	cursor: pointer;
	text-transform: capitalize;
}
.lists--tab span {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	background-color: #eee;
	color: #aaa;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .35s;
}
.main--tabs .lists--tab {
	padding: 1.4rem 1.2rem;
	background-color: transparent;
	transition: all .35s;
	font-weight: 500;
	font-size: 1.3rem;
}
.main--tabs .lists--tab:hover {
	background-color: #eee;
}
.main--tabs .lists--tab:hover span {
	background-color: #ccc;
	color: #999;
}
.main--tabs .lists--tab.tab--active {
	color: #bb0505;
	position: relative;
	transition: all 0.35s;
}
.main--tabs .lists--tab.tab--active span {
	background-color: #ffe8e8;
	color: #888;
}
.main--tabs .lists--tab.tab--active::after {
	content: "";
	display: inline-block;
	height: 0.34rem;
	width: 100%;
	background-color: #bb0505;
	position: absolute;
	bottom: -24%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
	animation: fade-in 1s ease-in;
}
.sub--tabs .lists--tab {
	padding: .6rem .8rem;
	border-radius: .5rem;
	display: flex;
	gap: .5rem;
	font-size: 1.3rem;
	font-weight: 500;
	box-shadow: inset 0 0 0 .14rem #ddd;
	transition: all .35s;
}
.sub--tabs .lists--tab:hover, .sub--tabs .lists--tab.tab--active {
	background-color: #bb0505;
	color: #fff;
	box-shadow: none;
}

.lists--figure {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	list-style: none;
	padding: 2rem 0;
}
.lists--item {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	padding: 1.6rem 1.8rem;
	border-radius: 1rem;
	border: 1.5px solid #ddd;
}
.lists--item-top, .lists--item-bottom {
	display: grid;
	grid-template-columns: 1fr 14rem;
	gap: 6.4rem;
	align-items: center;
}
.lists--content {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}
.lists--content span {
	width: 1.8rem;
	height: 1.8rem;
	border: 1.4px solid #eee;
	border-radius: .4rem;
	margin-top: .4rem;
	cursor: pointer;
}
.lists--content p {
	font-size: 1.6rem;
	font-weight: 500;
	color: #bb0505;
	line-height: 1.4;
}
.lists--actions {
	display: flex;
	align-items: center;
	gap: 1.4rem;
	/* justify-content: space-between; */
	justify-content: flex-end;
}
.lists--actions span {
	box-shadow: inset 0 0 0 .14rem #eee;
	padding: .4rem .6rem;
	border-radius: .4rem;
	font-size: 1.8rem;
	color: #777;
	transition: all .35s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .45rem;
}
.lists--actions span p {
	font-size: 1.2rem;
	font-weight: 600;
	color: #888;
}
.lists--insight {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.lists--insight span {
	display: flex;
	align-items: center;
	gap: .6rem;
	font-size: 1.4rem;
	color: #777;
	font-weight: 600;
}
.lists--insight p {
	font-size: 1.2rem;
	color: #999;
}
.lists--message {
	font-size: 2rem;
	display: flex;
	align-items: center;
	gap: 1.4rem;
}
.lists--completed {
	position: relative;
	overflow: hidden;
}
.lists--completed::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #ffffff6c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lists--completed .lists--content p {
	text-decoration: line-through;
}


/* ======================================= */
/* WISH CREATION BOX */
/* ======================================= */
.wish--overlay, .delete--overlay {
	background-color: transparent;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
}
.wish--form {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem .8rem;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: .4rem 1rem 4rem rgba(0, 0, 0, 0.15);
	z-index: 2100;
	transition: all .35s;
	animation: zoom-in 1s ease-in-out;
}
.form--focus .wish--input, .form--focus .wish--textarea {
	border-color: #bb0505 !important;
}
@keyframes zoom-in {
	0% {
		transform:  translateX(-50%) scale(0.35);
        opacity: 0;
    } 15% {
		transform:  translateX(-50%) scale(1);
        opacity: 1;
    }
}
.wish--input, .wish--textarea {
	border: 1.4px solid transparent;
	padding: 1.2rem 1.6rem;
	border-radius: .8rem;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 500;
	color: #888;
	transition: all .35s;
}
.wish--input:focus, .wish--textarea:focus {
	outline: none;
	border-color: #bb0505 !important;
}
.wish--input::placeholder, .wish--textarea::placeholder {
	color: #999;
}
.wish--input-flex {
	position: relative;
}
.wish--input-icon {
	position: absolute;
	font-size: 1.8rem;
	top: 50%;
	right: 10%;
	transform: translate(-50%, -50%);
}
.form--grid {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form--grid span {
	display: flex;
	align-items: center;
	gap: 2.8rem;
}
.wish--input.input--date {
	border-color: #eee;
}
.wish--input.input--number {
	border-color: #eee;
}
.form--grid span:nth-child(2) {
	gap: 1.6rem;
	padding-right: 1.8rem;
}
.wish--button {
	padding: .6rem .8rem;
	border: none;
	border-radius: .6rem;
	font-size: 1.4rem;
	font-weight: 500;
	cursor: pointer;
}
.btn--cancel {
	background-color: #eee;
	color: #777;
}
.btn--submit {
	background-color: #bb0505;
	color: #fff;
}
.delete--overlay {
	background-color: rgba(0, 0, 0, 0.25);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
.delete--modal {
	padding: 2.4rem 2.4rem;
	background-color: #fff;
	position: fixed;
	min-height: 25rem;
	max-width: 40rem;
	width: 40rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	border-radius: 0.6rem;
	box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
	z-index: 1500;
	animation: zoom-in 1s ease-in-out;
	z-index: 2100;
}
@keyframes zoom-in {
	0% {
		transform: translate(-50%, -50%) scale(0.35);
        opacity: 0;
    } 15% {
		transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
.modal--text {
	font-size: 1.8rem;
	line-height: 1.2;
}
.modal--info {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.5;
	color: #bb0505;
	padding: 1.2rem;
	border-radius: .6rem;
	background-color: #eee;
}
.modal--actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.4rem;
	margin-top: 1.2rem;
}
.modal--actions span {
	padding: .8rem 1.2rem;
	border-radius: .6rem;
	font-size: 1.4rem;
	font-weight: 500;
	cursor: pointer;
	transition: all .35s;
}
.delete--cancel {
	background-color: #bb0505;
	color: #fff;
}
.delete--cancel:hover {
	opacity: .8;
}
.delete--submit {
	box-shadow: inset 0 0 0 .14rem #eee;
}
.delete--submit:hover {
	background-color: #eee;
	box-shadow: none;
}



/* =================================== */
/* HEADER */
/* =================================== */

.dashboard__auth-buttons {
	display: flex;
	align-items: center;
	gap: 2rem;
}
.dashboard__auth-buttons span {
	padding: .8rem 1.6rem;
	border-radius: .8rem;
	font-weight: 600;
	font-size: 1.4rem;
}
.dashboard--login-btn {
	box-shadow: inset 0 0 0 .14rem #bb0505;
	background-color: #fff;
}
.dashboard--signup-btn {
	background-color: #bb0505;
	color: #fff;
}



/* ============================= */
/* ============================= */

.wishlish--share {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	width: 90rem;
	margin: 0 auto;
}
.share--top {
	display: grid;
	grid-template-columns: 24rem 1fr;
	gap: 4.8rem;
	align-items: center;
}
.share--top img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
}
.top--details {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.wishlist--title {
	font-size: 3.2rem;
	color: #bb0505;
	font-weight: 500;
}
.wish--title {
	font-size: 1.8rem;
	color: #bb0505;
	font-weight: 500;
}
.top--details .top--info {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.top--details .top--info span {
	display: flex;
	align-items: center;
	gap: .8rem;
}
.top--progress {
	width: 90%;
}
.lists--pay-btn {
	padding: .8rem 1.6rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: .6rem;
	box-shadow: inset 0 0 0 .14rem #bb0505;
	font-size: 1.4rem;
	font-weight: 500;
	justify-self: flex-end;
	cursor: pointer;
}
.pay--form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.form--button {
	cursor: pointer;
}
.pay--form .form--item {
	gap: .5rem;
}
.pay--form .form--button {
	padding: 1.2rem 1.8rem;
	font-size: 1.4rem;
	transition: all .35s;
	font-weight: 600;
}
.pay--form .form--button:hover {
	opacity: .7;
}

.share--bottom {
	margin: 0 auto;
	width: 90%;
}